#apiVersion: networking.k8s.io/v1
#kind: NetworkPolicy
#metadata:
#  name: qovery-engine
#spec:
#  podSelector: {}
#  policyTypes:
#    - Egress
#  egress:
#    - to:
#        - ipBlock:
#            cidr: 0.0.0.0/0
#            except:
#              - 169.254.169.254/32
#        - ipBlock:
#            cidr: ::/0
#            except:
#              - fd00:ec2::254/128
