apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.externalDnsProvider }}-api-token-secret
  namespace: {{ .Values.namespace }}
type: Opaque
data:
{{- if eq $.Values.externalDnsProvider "cloudflare" }}
  apiToken: "{{ .Values.provider.cloudflare.apiToken | b64enc }}"
{{- end }}
{{- if eq $.Values.externalDnsProvider "pdns" }}
  apiKey: "{{ .Values.provider.pdns.apiKey | b64enc }}"
  apiUrl: "{{ .Values.provider.pdns.apiUrl | b64enc }}"
  apiPort: "{{ .Values.provider.pdns.apiPort | b64enc }}"
{{- end }}
{{- if eq $.Values.externalDnsProvider "route53" }}
  accessKeyId: "{{ .Values.provider.route53.accessKeyId | b64enc }}"
  secretAccessKey: "{{ .Values.provider.route53.secretAccessKey | b64enc }}"
{{- end }}
